@model IEnumerable<App2.Models.Intern>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Graduated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GraduationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isWorkIntegratedLearning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.position)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Graduated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GraduationYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isWorkIntegratedLearning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
